.radio-inline {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.radio-list {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.radio-control-label {
    display: flex;
    align-items: center;
    .radio-label-text {
        @include poppins-regular;
        font-size: 90%;
        @include transition(color 0.7s ease-in-out);
        margin-bottom: 0;
    }
}

.radio-root {
    @include radio-root;

    .radio-icon-label {
        width: 100%;
        display: flex;
        align-items: inherit;
        justify-content: inherit;
        .radio-input {
            @include radio-input;
        }
        .radio-icon-root {
            display: flex;
            position: relative;
            .svg-icon-root {
                @include transition($svg-icon-root-transition);
                @include user-select-none;
                fill: currentColor;
                width: 1em;
                height: 1em;
                display: inline-block;
                font-size: 1.5rem;
                flex-shrink: 0;
                &.svg-icon-root-checked {
                    left: 0;
                    position: absolute;
                    @include transform-scale(0);
                    @include transition($svg-icon-root-checked-transition);
                }
            }
        }
    }
}

// radio colors
@each $color, $value in $theme-colors {
    .radio-root.radio-root-#{$color} {
        @include hover {
            background-color: transparentize($value, 0.8);
        }
        &.radio-checkeding {
            background-color: transparentize($value, 0.7);
        }
        &.radio-checked {
            color: $value;
            .radio-icon-label {
                .svg-icon-root {
                    &.svg-icon-root-checked {
                        @include transform-scale(1);
                    }
                }
            }

            ~ .radio-label-text {
                color: $value;
            }
        }
    }
}
