// Typography
//
// Font, line-height, and color for body text, headings, and more.

$h1-font-size: $font-size-base * 2;
$h2-font-size: $font-size-base * 1.5;
$h3-font-size: $font-size-base * 1;
$h4-font-size: $font-size-base * 0.8125;
$h5-font-size: $font-size-base * 0.8125;
$h6-font-size: $font-size-base * 0.8125;

// Textfield
//
$textfield-font-size: $font-size-base !default;
$textfield-border-height: $border-width !default;
$textfield-padding-bottom: 0.375rem !default;
$textfield-label-font-weight: normal !default;
$textfield-label-line-height: 1.4 !default;
$textfield-label-font-size: $font-size-sm !default;
$textfield-label-color: rgba($black, 0.54) !default;

$textfield-transition: cubic-bezier(0.4, 0, 0.2, 1) !default;
$textfield-transition-durasion: 0.2s !default;
$textfield-focused-height: 2px !default;
$textfield-focused-bg: $primary;

$textfield-height-sm: calc(1.5em + 1.2rem);
$textfield-height-default: calc(1.5em + 1.5rem);
$textfield-height-single: calc(1.5em + 0.375rem + 0.5rem + 1px);
$textfield-height-lg: calc(1.5em + 1.75rem);
$textfield-line-height: 1.375rem !default;
$textfield-margin-bottom: 1.5rem !default;

$textfield-border-width: 2px !default;
$textfield-border-color: rgba(0, 0, 0, 0.12) !default;
$textfield-border: 1px solid $textfield-border-color !default;
$textfield-border-radius: 0.3rem !default;
$textfield-floating-active-border-color: $textfield-focused-bg !default;
$textfield-outline-border-defauld: $textfield-border;
$textfield-outline-border-active: 2px solid $textfield-focused-bg !default;
$textfield-outline-material-icons-color: $black !default;

// Checkbox
// Checkbox Switch

$checkbox-transition-background-color: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms !default;
$checkbox-transition-transform: transform 150ms cubic-bezier(0, 0, 0.2, 1) 0ms !default;
$checkbox-transition-color: color 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms !default;
$checkbox-transition-fill: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms !default;
$checkbox-transition-fillAndColor: $checkbox-transition-fill, $checkbox-transition-color !default;
$checkbox-width: 40px;

$switch-currentcolor: rgb(224, 224, 224) !default;
$switch-shadow: 0px 0px 0px 8px !default;
$switch-thumb-width: 20px !default;
$switch-thumb-transition-duration: 150ms !default;
$switch-thumb-ripple-width: 36px !default;

//
// Radio
//

$radio-transition-background-color: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms !default;
$radio-transition-transform: transform 150ms cubic-bezier(0, 0, 0.2, 1) 0ms !default;
$radio-transition-color: color 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms !default;
$radio-transition-fill: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms !default;
$radio-transition-fillAndColor: $radio-transition-fill, $radio-transition-color !default;

$switch-currentcolor: rgb(224, 224, 224) !default;
$switch-shadow: 0px 0px 0px 8px !default;
$switch-thumb-width: 20px !default;
$switch-thumb-transition-duration: 150ms !default;
$switch-thumb-ripple-width: 36px !default;

$radio-root-transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
$svg-icon-root-transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
$svg-icon-root-checked-transition: transform 150ms cubic-bezier(0.4, 0, 1, 1) 0ms;

//
// Fab
//

$fab-size-sm: 40px !default;
$fab-size-md: 56px !default;
$fab-size-lg: 96px !default;

$fab-font-size-sm: 20px !default;
$fab-font-size-md: 24px !default;
$fab-font-size-lg: 36px !default;

//
// Chip
//
$chip-border-radius: 16px !default;
$chip-line-height: 24px !default;
$chip-font-size: 0.9em !default;
$chip-padding-y: 4px !default;
$chip-padding-x: 12px !default;
$chip-img-size: 20px !default;

// Chip Small (sm)
$chip-sm-border-radius: 12px !default;
$chip-sm-line-height: 20px !default;
$chip-sm-font-size: 0.75em !default;
$chip-sm-padding-y: 2px !default;
$chip-sm-padding-x: 8px !default;

// Chip Large (lg)
$chip-lg-border-radius: 20px !default;
$chip-lg-line-height: 32px !default;
$chip-lg-font-size: 1em !default;
$chip-lg-padding-y: 8px !default;
$chip-lg-padding-x: 16px !default;

$chip-transition:
    color 0.15s ease-in-out,
    background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out !default;

//
// Snackbar
//
$snackbar-padding-y: 8px !default;
$snackbar-padding-x: 16px !default;
$snackbar-min-width: 288px !default;
$snackbar-max-width: 568px !default;
$snackbar-transition:
    opacity 0.15s linear,
    transform 0.15s ease-in-out !default;

//
// Toast
//

$toast-bottom-margin: 4px !default;
$toast-z-index: 1050 !default;
